{{#extends 'base'}}

{{#block 'content'}}
<div class="alert alert-success">
You have entered the following:

    <ul>
        <li>Food: {{food}}</li>
        <li>Meal: {{meal}}</li>
        <li>Tags: {{tags}}</li>
    </ul>
</div>

{{/block}}

{{/extends}}