{{#extends 'base'}}

{{#block "title"}}
My Home Page
{{/block}}

{{#block "content"}}
 <h1>Hello to Bootstrap World!</h1>
 <p>Here you will learn to create interesting websitses</p>
 {{/block}}
{{/extends}}

